*{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#fluidContainer{
    background-color: bisque;
    color:black;
}

nav, .nav-item, .navbar, .nav-link, #fluidNavCon, .navbar-toggler-icon, #navbarSupportedContent{
    background-color: darkblue;
}

a{
    background-color: white;
}

#colIcon{
    text-align: right;
}

#introContainer, #cvContainer, #hobbyContainer{
    padding-top: 5px;
}
#introTekst{
    text-align: left;
    
}

#fotoFooterIndex{
    width:auto;
    
}

h6{
    text-align: center;
}

h1{
    text-align: center;

}

h4{
    text-align: left;
    text-decoration: underline;
    font-style: italic;
}

h5{
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}

.opvallen{
    font-weight: bold;
    font-size: large;
}

.navbar-text{
    text-align: right;
    background-color: darkblue;
}